aiofiles==25.1.0
aiogram==3.27.0
gunicorn==23.0.0
whitenoise==6.8.2
aiohappyeyeballs==2.6.1
aiohttp==3.13.5
aiosignal==1.4.0
annotated-types==0.7.0
asgiref==3.11.1
attrs==26.1.0
certifi==2026.4.22
dj-database-url==3.1.2
Django==5.2.13
django-cors-headers==4.9.0
djangorestframework==3.17.1
frozenlist==1.8.0
idna==3.13
lxml==6.1.0
magic-filter==1.0.12
multidict==6.7.1
pillow==12.2.0
propcache==0.4.1
psycopg2-binary==2.9.12
pydantic==2.12.5
pydantic_core==2.41.5
python-docx==1.2.0
python-dotenv==1.2.2
sqlparse==0.5.5
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2026.2
yarl==1.23.0
